# Virtual Environment
venv/
env/
ENV/

# Python compiled files
__pycache__/
*.py[cod]

# Local Database
db.sqlite3

# Environment variables & secrets
.env
WORKFLOW_NOTES.md

# IDE / VS Code settings
.vscode/
.idea/